@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --window-background: #e2e2e2;
  --window-foreground: #d3cfcf;
  --foreground-03: #a3c7dd;
  --accent: #4b616f;
  --window-header-light:#a3c7dd;
  --window-header-dark: #4b616f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-window-background: var(--window-background);
  --color-window-foreground: var(--window-foreground);
  --color-foreground-03: var(--foreground-03);
  --color-window-header-light: var(--window-header-light);
  --color-window-header-dark: var(--window-header-dark);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f5ed;
    --foreground: #4b616f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
